volumes:
  static:
  media:

services:
  postgres:
    image: postgres:13
    env_file: .env

  backend:
    build: ./backend
    env_file: .env
    volumes:
      - static:/app/static
      - media:/app/media
    depends_on:
      - postgres

  frontend:
    build: ./frontend

  gateway:
    build: ./nginx
    ports:
      - "9000:80"
    volumes:
      - static:/static
      - media:/media
    depends_on:
      - backend
      - frontend
